<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="scripts/angular.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body ng-app=ang>
    <div ng-controller="firstCtrl">
        <input ng-model="name" type="text">
        <button ng-click="addGreeting()">Add Greeting</button>
        <ul>
            <li ng-repeat="thepersonsname in person track by $index">{{"Hi " + thepersonsname}}</li>
        </ul>
    </div>
</body>
</html>